:root {
  --nav_bg_color: #c00;
  --footer_bg_color: #00dd80;
  --header_bg_color: #1a8cff;
  --statistics_bg_color: #df80ff;
}
body {
  color: white;
  direction: rtl;
}
@media (max-width: 1000px) {
  body {
    font-size: 20px;
    line-height: 1.5;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: auto;
  text-align: center;
}
.nav {
  background-color: var(--nav_bg_color);
}
.nav .tab {
  width: 98%;
  margin: 2% 1%;
}
.bloger {
  font-size: 100px;
}
.main-header {
  background-color: var(--header_bg_color);
  padding: 15px;
  margin-bottom: 10px;
}
.service {
  background-color: white;
  color: black;
  padding: 15px;
  margin: 0px 15px 15px 15px;
  height: 300px;
}
.statistics {
  background-color: var(--statistics_bg_color);
  padding: 15px;
  margin: 15px;
  text-align: center;
}
.statistics p,
span {
  width: 50%;
}
.footer {
  background-color: var(--footer_bg_color);
}
