@media (max-width: 1000px) {
  body {
    font-size: 25px;
    line-height: 1.5;
  }
  .nav-bar .tab {
    width: calc(96% / 4);
    margin: 1% !important;
    float: left;
  }
  .main-header {
    min-height: 200px;
  }
  .class .class-content {
    font-size: 20px;
  }
}
